---
import { REPOSITORY_GITHUB_URL } from "../consts.ts";

interface Props {
    path: string;
    commitHash?: string;
}

const { path, commitHash } = Astro.props;
const url = commitHash ? `${REPOSITORY_GITHUB_URL}/blob/${commitHash}${path}` : `${REPOSITORY_GITHUB_URL}/tree/master${path}`;
---

{
    path && (
        <a target="_blank" href={url}>
            <slot />
        </a>
    )
}
